html{
    background-color: black;
    align-items: center;
}

img{
    border: 5px solid white;
    margin-left: 1000px ;
}

h2{
    color: white;
    text-align: center;
    
}

h2{
    color: white;
    text-align: center;
    font-size: large;
}
