html{
    background-color: black;
    align-items: center;
}

img{
    border: 5px solid white;
    display: flex;
    margin: auto;
    justify-content: center;

align-items: center;

height: 100vh;;
    
}

h2{
    color: white;
    text-align: center;
    
}

h2{
    color: white;
    text-align: center;
    font-size: large;
}
